header.header
    .header__column
        a(href="/").logo
            i.fas.fa-play-circle
            h1 #{siteName}
    .header__column
        form(action=routes.search, method="get")
            input(type="text", name="term", placeholder="Search")
            input(type="submit", value="🔍")
    .header__column
        ul.nav
            if !loggedInUser
                a(href=routes.join)
                    li Join
                a(href=routes.login)
                    li Log In
            else
                a(href=`/videos${routes.upload}`)
                    li Upload
                a(href=routes.me)
                    li Profile
                a(href=routes.logout)
                    li Log Out
        .responsiveMenu
            svg(xmlns="http://www.w3.org/2000/svg",
            class="icon icon-tabler icon-tabler-menu-2",
            width="30",
            height="30",
            viewBox="0 0 24 24",
            stroke-width="1.5",
            stroke="#333333",
            fill="none",
            stroke-linecap="round",
            stroke-linejoin="round")
                path(stroke="none" d="M0 0h24v24H0z" fill="none")
                line(x1="4" y1="6" x2="20" y2="6")
                line(x1="4" y1="12" x2="20" y2="12")
                line(x1="4" y1="18" x2="20" y2="18")