doctype html
html
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet",
        href="https://use.fontawesome.com/releases/v5.15.1/css/all.css",
        integrity=FONTAWESOME_KEY,
        crossorigin="anonymous")
        link(rel="stylesheet", href="/static/styles.css")

    body
        include ../partials/header
        main
            block content

        include ../partials/footer
        script(src="/static/main.js")