include ../mixins/flashMessage

doctype html
html
    head
        title #{pageTitle} | #{siteName}
        link(rel="shortcut icon" href="#")
        link(rel="stylesheet",
        href="https://use.fontawesome.com/releases/v5.15.1/css/all.css",
        integrity=FONTAWESOME_KEY,
        crossorigin="anonymous")
        link(rel="stylesheet", href="/static/styles.css")

    body
        include ../partials/header
        if messages.error
            +flashMessage({
            type:"error",
            text: messages.error
        })
        else if messages.success
            +flashMessage({
            type:"success",
            text: messages.success
        })
        else if messages.info
            +flashMessage({
            type:"info",
            text: messages.info
        })
        main
            block content

        include ../partials/footer
        script(src="/static/main.js")