extends layouts/main

block content
    .form__container
        form(action=routes.editVideo(video.id), method="post")
            h2.form__container__heading 
                i.far.fa-edit
                span Edit "#{video.title}"
            input(type="text", placeholder="Title", name="title", value=video.title)
            textarea(name="description", placeholder="Description")=video.description
            input(type="submit", value="Update Video")
            a.form__container__link(href=routes.deleteVideo(video.id))
                button.form__container__link-delete Delete Video
