extends layouts/main

block content
    .user-profile
        h2.user-profile__heading
            i.far.fa-address-card
            span User Profile
        .user-profile__user
            img.user-avatar(src=`/${user.avatarUrl}`)
            h3=user.name
        if loggedInUser && user.id === loggedInUser.id
            .user-profile__buttons
                a(href=`/user${routes.editProfile}`)
                    button
                        i.far.fa-edit
                        span Edit Profile
                a(href=`/user${routes.changePw}`)
                    button
                        i.fas.fa-unlock
                        span Change Password
    .uploadedVideos
        h2
            i.fas.fa-cloud-upload-alt
            span Uploaded Videos
        if user.videos.length > 0
            .uploadedVideos__videos
                each video in user.videos
                    .uploadedVideo
                        .uploadedVideo__thumbnail
                            video(src=`/${video.fileUrl}`, controls=false)
                        h3.uploadedVideo__title
                            a(href=routes.videoDetail(video.id))=video.title
                        if video.views.length === 1
                            p.uploadedVideo__views 1 view
                        else
                            p.uploadedVideo__views #{video.views} views
        else
            p.uploadedVideos__noVideos no videos uploaded