extends layouts/main
include mixins/videoPlayer

block content
    .videoDetail
        +videoPlayer({
            src:video.fileUrl
        })(class="videoDetail__player")
        .videoDetail__info
            if loggedInUser && loggedInUser.id === video.creator.id
                a(href=routes.editVideo(video.id)).videoDetail__info-edit 
                    i.far.fa-edit
                    span Edit Video
            h1.videoDetail__info-title=video.title
            span.videoDetail__info-views #{video.views} views
            section.videoDetail__info-creator
                a(href=routes.userDetail(video.creator.id))
                    img(src=`/${video.creator.avatarUrl}`)
                a(href=routes.userDetail(video.creator.id) title=`created by ${video.creator.name}`)=video.creator.name
            h2.videoDetail__info-description=video.description
            if video.comments.length === 1
                span.videoDetail__info-comments 1 comment
            else
                span.videoDetail__info-comments #{video.comments.length} comments
        .videoDetail__comments
            form.videoDetail__comments__form#js-commentForm
                if loggedInUser && loggedInUser.avatarUrl
                    a(href=routes.userDetail(loggedInUser.id))
                        img(src=`/${loggedInUser.avatarUrl}`)
                else
                    img(src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/271/person_1f9d1.png")
                input(type="text", placeholder="Add a comment")
            ul.videoDetail__comments__comments
                each comment in video.comments.reverse()
                    li
                        if comment.creator
                            .comment__avatar
                                img(src=`/${comment.creator.avatarUrl}`)
                            .comment__info
                                span.comment__info__name=comment.creator.name
                                span.comment__info__createdAt #{comment.createdAt.toDateString()}
                                p=comment.text
                            if loggedInUser && loggedInUser.id === comment.creator.id
                                .comment__btn
                                    button(type="button")
                                        i.far.fa-trash-alt
                        else
                            .comment__avatar
                                img(src=`${comment.anonymousCreator.avatarUrl}`)
                            .comment__info
                                span.comment__info__name=comment.anonymousCreator.name
                                span.comment__info__createdAt #{comment.createdAt.toDateString()}
                                p=comment.text