include ../mixins/flashMessage

doctype html
html
    head
        title #{pageTitle} | #{siteName}
        link(rel="shortcut icon" href="#")
        link(rel="stylesheet",
        href="https://use.fontawesome.com/releases/v5.15.1/css/all.css",
        integrity=FONTAWESOME_KEY,
        crossorigin="anonymous")
        link(rel="stylesheet", href="/static/styles.css")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://*.googleapis.com/ https://*.fontawesome.com/ https://*.gstatic.com https://*.s3.ap-southeast-2.amazonaws.com/utube-mina.park127/* https://*.emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/* 'unsafe-eval'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com/ https://*.fontawesome.com/; media-src *; img-src * data: content:; ")

    body
        include ../partials/header
        if messages.error
            +flashMessage({
            type:"error",
            text: messages.error
        })
        else if messages.success
            +flashMessage({
            type:"success",
            text: messages.success
        })
        else if messages.info
            +flashMessage({
            type:"info",
            text: messages.info
        })
        main
            block content

        include ../partials/footer
        script(src="/static/main.js")